@import "tailwindcss";

@theme {
  --font-sans: "Sao Chingcha", sans-serif;
}

@font-face {
  font-family: 'Sao Chingcha';
  src: url('/fonts/SaoChingcha-Regular.otf') format('opentype'); 
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sao Chingcha';
  src: url('/fonts/SaoChingcha-Bold.otf') format('opentype'); 
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Sao Chingcha', sans-serif;
}